*{
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    margin: 0 auto;
}
.container {
    padding: 0px;
}
ol,ul,p{
    margin: 0;
    list-style: none;
}
a:hover {
    text-decoration: none;
}

/* ++++++++++++++++++++ HEADER ++++++++++++++++++++ */
/*header mid*/
#header{
	background-color: #7f7f7f;
	padding: 25px 0px;
}
#header .col-md-4 img
{
  width: 300px;
  height: 86px;
  margin: -5px 0 0 -50px;
}
#header .col-md-4 img:hover
{
    opacity: 0.7;
}
/*header left*/
#header .col-md-5
{
  padding: 10px 50px 0px 0px;
}
#header form
{
  padding: 0px;
}
#header .form-control,button
{
  border: 0px;
  /*outline: 0px;*/
  /*border-radius: 0px;*/
  box-shadow:none;
  padding: 0px 2px 0px 10px;
}
#header .form-group
{
  background-color: #ffffff;
  border: 1px solid #999999;
}
#header .btn-default
{
 border: none;
 outline: 0;
 box-shadow: none;
 background: none;
}
#header .btn-default:hover i
{
  color: #999999;
}
#header input
{
  padding-left: 10px;
  padding-right: 0px;
  font-size: 12px;
}
/*header right*/
#header .col-md-3
{
  padding: 5px 0px 0px 50px;
  line-height: 1.2;
}
#header .col-md-3 p
{
  padding: 0px 0px 0px 0px;
  margin: 0px;
  color: #000;
}
#header .col-md-3 a
{
  padding: 22px 0px 22px 27px;
  margin: 0px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
#header a:hover
{
  color: #bf0000;
}
#header .phone
{
  font-weight: 700;
  font-size: 21px;
}
#header .col-md-3 i
{
  color: #7f0000;
  font-size: 50px;
  padding: 3px 0px 0px 63px;
}

/* ++++++++++++++++++++ MENUNAV ++++++++++++++++++++ */
#menunav
{
  background-color: #444;
  min-height: 40px;
  margin-top: -15px;
}
.menu-main li
{
  float: left;
}
.menu-main > li > a, .home a
{
  color: white;
  font-weight:bold;
  background: #444;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 12px;
  border-right: 1px solid #555;
  
}
.menu-main > li > a:first-child {
/*  border-left: 1px solid #555;*/
}
.menu-main > li > a
{
  padding: 13px;
}
.menu-main li a:hover
{
  background: #666;
}
/*hang dien thoai*/
/*.dropdown
{
  float: left;
}*/
.dropdown-content 
{
  display: none;
  position: absolute;
  /*background-color: #f9f9f9;*/
  /*padding: 0px 12px 0px 12px;*/
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}
.dropdown-content > a 
{
  padding: 0px 50px 0px 13px;
  /*text-decoration: none;*/
  display: block;
  color: white;
  font-weight:bold;
  background: #444;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 12px;
  border-top: 1px solid #555;
}
.dropdown-content a:hover 
{
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content
{
  display: block;
}
/*.dropdown:hover .dropbtn {
  background-color: #666;
}*/
button.dropbtn
{
  color: white;
  font-weight:bold;
  background: #444;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 12px;
  border-right: 1px solid #555; 
  padding: 0px 12px 0px 12px;
}
button.dropbtn:hover
{
  background: #666;
}
.home a
{
  background: #666;
  padding: 13px;
  margin-left: -50px;
}
#dndk
{
  margin-right: -45px;
}
#dndk li a
{
  color: white;
  font-weight:bold;
  background-color: #7f0000;
  max-height: 40px;
  line-height: 40px;
 /* text-transform: uppercase;*/
  font-size: 12px;   
  padding: 13px 25px 13px 25px;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-radius: 10px;
}
#dndk li a:hover
{
  background: #bf0000;
}
/*#dndk li a:last-child{
  border-left: 1px black solid; 
  margin-right: auto;    
}*/
#dndk1
{
  margin: 0px ;
}

/* ++++++++++++++++++++ BANNER ++++++++++++++++++++ */
#banner
{
 /* margin: 30px 0px 0px 30px;*/
  padding: 30px 0px 0px 30px;
  height: 350px;
  position: relative;
}
#banner .col-md-4
{
  margin-left: -100px;
}
#banner .col-md-4:hover{
  margin-top: 10px;
  transition: 0.3s;
}
#banner .col-md-5
{
  margin-left: 130px;
}
#banner .col-md-5:hover{
  margin-top: 10px;
  transition: 0.3s;
}

/* =================MAIN CONTENT ================= */
/*.bor {
  border: 1px solid #e3e3e3;
}*/
#maincontent {
  margin-top: 25px;
}
/*LEFT*/
.box-left {
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
}
.box-title {
  margin-top: 0;
  background-color: #FF7373;
  /* For WebKit (Safari, Chrome, etc) */
  background: #FF7373 -webkit-gradient(linear,50% 50%,50% 100%, from(#D90000), to(#FF7373)) no-repeat;
  /* Mozilla,Firefox/Gecko */
  /*background: #FF7373 -moz-linear-gradient(top, #D90000, #FF7373) no-repeat;*/
  /* IE 5.5 - 7 */
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D90000, endColorstr=#FF7373) no-repeat;*/
  /* IE 8 */
  /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D90000, endColorstr=#D90000)" no-repeat;*/
/*  background: #bf0000;*/
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.box-title .fa {
  color: white;
  font-size: 20px;
  background-color: #FF0080;
  /* For WebKit (Safari, Chrome, etc) */
  background: #FF0080 -webkit-gradient(linear, 50% 50%,50% 100%, from(#7f0000), to(#D90000)) no-repeat;
  /* Mozilla,Firefox/Gecko */
  background: #FF0080 -moz-linear-gradient(top, #FF2A00, #FF0080) no-repeat;
  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF2A00, endColorstr=#FF0080) no-repeat;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF2A00, endColorstr=#FF2A00)" no-repeat;
 /* background: #7f0000;*/
  padding: 12px;
}
.box-menu > ul > li > a
{
  font-size: 11px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}
.box-menu > ul > li
{
  padding: 10px 25px;
  border-bottom: 1px solid #e3e3e3;
 
}
.box-menu > ul > li:hover ul
{
  color: #ea3a3c;
}
.box-menu > ul > li
{
  padding: 10px 25px;
  border-bottom: 1px solid #e3e3e3;
 
}
.box-menu > ul > li > a
{
  font-size: 12px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}
/*.box-menu > ul > li:hover
{
  background: #EEEEEE;
}*/
/*.box-menu > ul > li:hover > a
{
  color: #ea3a3c;
  cursor:pointer;
}*/
.name
{
  font-weight: bold;
  white-space: normal;
  width: 100px;
  /*height: 18px;*/
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  color: #333333;
  text-transform: none;
  margin: 0px 10px 10px 0px; 
}
.name:hover
{
  color: #288AD6;
}
.price:hover
{
  color: #e74847;
}
.info b
{
  padding: 
}
/*RIGHT*/
.col-md-9{
  /*border: 1px solid #e3e3e3;*/
  margin-top: -20px;
}
.col-md-9 .bor{
  border: 1px solid #e3e3e3;
  padding-top: 10px;
}

.title-main a
{
  font-weight: bold;
  padding: 5px 7px 5px 0px;
  font-size: 18px;
  border-bottom: 0px solid #ea3a3c;
  text-transform: uppercase;
}
.showitem
{
  margin-bottom: 20px;
  margin-top: 20px;
}
.info-item p
{
  color: #999;
  font-size: 13px;
  font-weight: bold;
}
.info-item
{
  text-align: center;
  /*border-top:1px solid #e3e3e3;*/
  padding-top: 5px;
  padding-bottom: 5px;
}
.info-item a
{
  color: #333333;
  font-size: 14px;
  font-weight: bold;
}
.info-item a:hover
{
  color: #288AD6;
}
.price
{
  text-transform: none;
  font-size: 13px;
  color: #bf081f
}
.item-product 
{
  position: relative;
}
.showitem .col-md-3 img{
  margin-left: 10px;
}
.showitem .col-md-3 img:hover
{
    transform: scale(0.9);
}
.pagination {
  padding-left: 51.5%;
  display: block;
}
/* ++++++++++++++++++++ ACCESSORIES ++++++++++++++++++++ */
.carousel 
{
  margin-top: 0; 
  margin-bottom: 0; 
  padding: 0 40px 30px 40px;
}
/*the controlsy*/
.carousel-control 
{
  left: 0px; 
  height: 40px; 
  width: 40px; 
  background: none repeat scroll 0 0 #222222; 
  border: 4px solid black; 
  border-radius: 23px 23px 23px 23px; 
  margin-top: 150px;
}
.carousel-control.right
{
  right: 0px;
}
.carousel-control > i{
  font-size: 50px;
  margin-top: -10px;
  margin-left: -5px;
}
#carousel{
  border: 1px solid red;
}
#carousel > h1{
  text-align: center;
}
#carousel img{
  margin-left: 50px;
}
.btn-grad3 {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
.btn-grad3 {
  margin: 10px 350px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 90px 90px 90px 90px;
  display: block;
}

.btn-grad3:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/*the indicators*/
/*.carousel-indicators 
{
  right: 50%; 
  top: auto; 
  bottom: -10px; 
  margin-right: -19px;
}*/
/*the color of indicators*/
/*.carousel-indicators li
{
  background-color: black;
  background: #ececec;
}
.carousel-indicators .active
{
  background: #420bca;
}*/
/* ++++++++++++++++++++ FOTTER ++++++++++++++++++++ */

.footer {
    border-top:1px black solid;
    margin: 30px 0 10px 0;
    display: flex;
}
.contact{
    width: 400px;
    margin: 0 50px;
}
.contact p{
    font-size: 15px;
    margin: 15px 5px;
}
.contact a:hover{
    color: #7f003f;
}
.follow{
    margin-top: 0px;
    margin-left: 40px;
    width: 400px;
}
.follow #trai{
    margin-left: 10px;
    width: 85px;
}
.follow #phai{
    width: 80px;
    margin: 0 10px;
}